body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

.countdown{
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-family: "Courier New", Courier, monospace
}

img {
  border-radius: 8px;
  margin-right: 10px;
}